body{
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE, #434455);
    background: #FFF
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
   margin: 0;
   padding: 0;
}
h1, h2, h3, p{
    margin: 0;
}
img{
    display: block;
}
.container{
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header{
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.header-container{
    display: flex;
    align-items: center;
}
.navigation{
    display: flex;
    align-items: center;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.logo{
    color: var(--IRIS, #4D5AE5);
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
        margin-right: 76px;
}
.logo-part-header{
    color: var(--NAVY-BLUE, #2E2F42);
}
.nav-link {
    color: var(--NAVY-BLUE, #2E2F42);
    
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;

        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
}
.nav-link:hover,
.nav-link:focus{
    color: var(--OCEAN, #404BBF);
}
.address {
    font-style:normal;
    margin-left: auto;
}
.address-list{
    display: flex;
    gap: 40px;
}
.address-link {
    color: var(--SLATE, #434455);
    
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus{
    color: var(--OCEAN, #404BBF);
}
.hero {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: var(--WHITE, #FFF);

        text-align: center;
        font-size: 56px;
        line-height: 1.07;
        /* 107.143% */
        letter-spacing: 0.02em;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}

.hero-btn {
    color: var(--WHITE, #FFF);
    
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.04em;
        background: var(--IRIS, #4D5AE5);
        cursor: pointer;
        margin: 0 auto;
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus{
    background: var(--OCEAN, #404BBF);
}
.features{
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-list{
    display: flex;
    gap: 24px;
}
.features-item{
    width: calc((100% - 72px)/4);
}
.features-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.features-text {
    
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.team {
    background: var(--CLOUD, #F4F4FD);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #FFF;
    width: calc((100% - 72px)/4);
    border-radius: 0px 0px 4px 4px;
}
.team-title {
    color: var(--NAVY-BLUE, #2E2F42);

        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.team-text-wrap{
    padding: 32px 0;
}
.team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
}

.team-text {
    color: var(--SLATE, #434455);
    
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        text-align: center;
}

.team-subtitle .team-text {
    background: var(--WHITE, #FFF);
}
.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
    background: #FFF;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    width: calc((100% - 48px)/3);
}
.portfolio-title {
    color: var(--NAVY-BLUE, #2E2F42);
    
        text-align: center;
        font-size: 36px;
        line-height: 1.11;
        /* 111.111% */
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
}
.portfolio-text-wrap {
    padding: 32px 16px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    border-top: none;

}
.portfolio-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
    
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}

.portfolio-text {
    color: var(--SLATE, #434455);
    
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.portfolio-subtitle .portfolio-text {
    background: var(--WHITE, #FFF);
}
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
   margin-bottom: 16px;
   display: inline-block;
}
.logo-part-footer {
    color: var(--CLOUD, #F4F4FD);
}

.footer-text {
    color: var(--CLOUD, #F4F4FD);
    
        font-size: 16px;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
        max-width: 264px;
}